<launch>
  <!-- Dynamic detector node -->
  <node pkg="dynamic_lidar_detector" type="ideal_detection.py" name="dynamic_detector_node" output="screen"/>

  <!-- RViz configured to visualize the dynamic point cloud -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find dynamic_lidar_detector)/rviz/dynamic_display.rviz" required="true"/>
</launch>
