<?xml version="1.0"?>

<!-- 
  * This file describes the chassis for the robot: Inspector longarm. 
  *
  * Copyright (c) 2023 taurob GmbH. All rights reserved. Confidential and proprietary.
  * Perfektastrasse 57/7, 1230 Wien, Austria. office@taurob.com
  -->

<robot name="taurob_inspector_longarm"
    xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- [BEGIN] === Macro === -->
    <xacro:macro name="inspector_longarm_chassis" params="parent_link flipper_type">

        <!-- [BEGIN] === Params: Chassis Dimensions === -->
        <xacro:property name="inspector_chassis_x" value="0.66" />
        <xacro:property name="inspector_chassis_y" value="0.5" />
        <xacro:property name="inspector_chassis_z" value="0.2" />
        
        <!-- [BEGIN] === Params: Flippers === -->
        <xacro:property name="flipper_upper_shortening_x" value="0.0" />
        <xacro:property name="flipper_model" value="${flipper_type}" />

        <xacro:if value="${flipper_model == 'regular'}">
            <xacro:property name="track_length" value="1.0" /> <!-- [INFO]: Actual length of the mounted tracks measured front to back of the robot. -->
            <xacro:property name="flipper_offset_x" value="0.03" />
        </xacro:if>

        <xacro:if value="${flipper_model == 'elongated'}">
            <xacro:property name="track_length" value="1.1" /> <!-- [INFO]: Actual length of the mounted tracks measured front to back of the robot. -->
            <xacro:property name="flipper_offset_x" value="0.092" />
        </xacro:if>   

        <!-- [BEGIN] === Params: Tracks === -->
        <xacro:property name="track_wheel_radius" value="0.137"/> <!-- [INFO]: Radius of the track wheels. -->
        <xacro:property name="track_centre_wheel_x" value="0.321" /> <!-- [INFO]: Position in x of the wheel in the middle. -->
        <xacro:property name="track_width" value="0.0925"/> <!-- [INFO]: Actual width of the tracks -->
        <xacro:property name="track_offset_x" value="0.1605"/> <!-- [INFO]: The offset between flipper_link_0 and flipper_link_1 is 0.321 in x; In other words, it is the size_x of the rectangle defined on the chassis, that serves as the additional track element. The center would therefore be 0.321/2 -->
        <xacro:property name="track_offset_y" value="0.2418"/> <!-- [INFO]: Overall width of the tracks + robot_base amount to 0.576; So the center of the tracks in y from the centre of the robot would be = (0.576 - 0.0925)/2 = 0.2418 -->

        <!-- [BEGIN] === Joint: Chassis === -->
        <joint name="chassis_joint" type="fixed">
            <origin xyz="-0.225 0.0 ${track_wheel_radius}" rpy="0 0 0"/> <!-- [TODO]: set x and y to the diagonal centre of the chassis. -->
            <parent link="${parent_link}"/>
            <child link="chassis_link"/>
        </joint>

        <!-- [BEGIN] === Link: Chassis === -->
        <link name="chassis_link">
            <xacro:inertial_cuboid_with_pose mass="60" x_length="${inspector_chassis_x*0.66}" y_length="${inspector_chassis_y}" z_length="${inspector_chassis_z}">
                <origin xyz="0.5 0.0 0.0" rpy="0 0 0" />
            </xacro:inertial_cuboid_with_pose>

            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://taurob_robots_description/meshes/chassis_inspector_longarm/chassis_inspector_longarm.dae"/>
                </geometry>
                <material name="orange">
                    <color rgba="1.0 0.3568627450980392 0.0 1.0"/>
                </material>
            </visual>

            <!-- [BEGIN]: Collision geometries - Chassis with box-geometries 
            
            The chassis is a complex shape for which, the visual model is simply a mesh file (.dae). The collision model has been created/assembled
            only with the supported shapes in the URDF format, to extent that is accurate as humanly-possible. -->

            <!-- [GEOMETRIES]: [Chassis] - Box -->
            <collision>
                <origin xyz="0.225 0 0.025" rpy="0 0 0"/> 
                    <geometry>
                        <box size="0.54 0.44 0.14"/>
                    </geometry>
            </collision>
            
            <!-- [GEOMETRIES]: [Chassis Hatch] - Rear -->
            <collision>
             <origin xyz="-0.04485 0 0.025" rpy="0 0.349 0" />
                <geometry>
                    <box size="0.0525 0.44 0.130"/>
                </geometry>
            </collision>

            <!-- [GEOMETRIES]: [Chassis Cylinder] - Rear -->
             <collision>
             <origin xyz="-0.081 0 -0.033" rpy="${M_PI/2} 0 0" />
                <geometry>
                    <cylinder length="0.44" radius="0.0125"/>
                </geometry>
            </collision>

            <!-- [GEOMETRIES]: [Chassis Docking] - Rear, Left -->
            <collision>
             <origin xyz="-0.08 0 0.045" rpy="0 0 0" />
                <geometry>
                    <box size="0.05 0.35 0.15"/>
                </geometry>
            </collision>

            <!-- GEOMETRIES]: [Chassis Fix-up] - Rear -->
            <collision>
             <origin xyz="-0.057 0 -0.035" rpy="0 0 0" />
                <geometry>
                    <box size="0.05 0.44 0.02"/>
                </geometry>
            </collision>
            
            <!-- [GEOMETRIES]: [Chassis Hatch] - Top, Right -->
             <collision>
             <origin xyz="0.225 -0.11 0.100" rpy="${7*M_PI/180} 0 0" />
                <geometry>
                    <box size="0.54 0.22 0.02"/>
                </geometry>
            </collision>

            <!-- [GEOMETRIES]: [Chassis Cylinder] - Top, Middle -->
             <collision>
             <origin xyz="0.225 0 0.1135" rpy="0 ${M_PI/2} 0" />
                <geometry>
                    <cylinder length="0.54" radius="0.01"/>
                </geometry>
            </collision>

            <!-- [GEOMETRIES]: [Chassis Fix-up] - Top, Middle -->
             <collision>
                <origin xyz="0.225 0 0.100" rpy="0 0 0" />
                <geometry>
                    <box size="0.54 0.22 0.02"/>
                </geometry>
            </collision>

            <!-- [GEOMETRIES]: [Chassis Hatch] - Top, left -->
             <collision>
             <origin xyz="0.225 0.11 0.100" rpy="-${6.8*M_PI/180} 0 0" />
                <geometry>
                    <box size="0.54 0.22 0.02"/>
                </geometry>
            </collision>

            <!-- [GEOMETRIES]: [Battery Compartment Box] - Center -->
            <collision>
                <origin xyz="0.425 0 0.0575" rpy="0 0 0" />
                    <geometry>
                        <box size="0.18 0.24 0.209"/>
                    </geometry>
            </collision>
            
            <!-- [GEOMETRIES]: [Battery Compartment Hatch] - Front -->
            <collision>
             <origin xyz="0.530 0 0.0575" rpy="0 0.349 0" />
                <geometry>
                    <box size="0.064 0.24 0.20"/>
                </geometry>
            </collision>

            <!-- [GEOMETRIES]: [Battery Compartment Hatch] - Back -->
            <collision>
             <origin xyz="0.33 0 0.127" rpy="0 0.349 0" />
                <geometry>
                    <box size="0.03 0.24 0.06"/>
                </geometry>
            </collision>

            <!-- [GEOMETRIES]: [Battery Compartment Cylinder] - Back, Top -->
             <collision>
             <origin xyz="0.3325 0 0.155" rpy="${M_PI/2} 0 0" />
                <geometry>
                    <cylinder length="0.24" radius="0.0075"/>
                </geometry>
            </collision>

            <!-- [GEOMETRIES]: [Battery Compartment Cylinder] - Front, Bottom -->
             <collision>
             <origin xyz="0.515 0 -0.035" rpy="${M_PI/2} 0 0" />
                <geometry>
                    <cylinder length="0.24" radius="0.015"/>
                </geometry>
            </collision>

             <!-- [GEOMETRIES]: [Battery Compartment Cylinder] - Front, Top -->
             <collision>
             <origin xyz="0.585 0 0.147" rpy="${M_PI/2} 0 0" />
                <geometry>
                    <cylinder length="0.24" radius="0.015"/>
                </geometry>
            </collision>

            <!-- [GEOMETRIES]: [Battery Compartment Fix-ups] - Front, Top -->
            <collision>
                <origin xyz="0.515 0 0.135" rpy="0 0 0" />
                <geometry>
                    <box size="0.135 0.24 0.053"/>
                </geometry>
            </collision>

            <!-- [GEOMETRIES]: [Battery Lid] -->        
            <collision>
             <origin xyz="0.575 0 0.056" rpy="0 0.35 0" />
                <geometry>
                    <box size="0.018 0.23 0.18"/>
                </geometry>
            </collision>

            <!-- [GEOMETRIES]: [Battery Lid Cylinder] -->
            <collision>
                <origin xyz="0.605 0 0.145" rpy="${M_PI/2} 0 0"/>
                <geometry>
                    <cylinder length="0.24" radius="0.008"/>
                </geometry>
            </collision>

            <!-- [GEOMETRIES]: [Battery Lid Lock] - Top  -->
            <collision>
             <origin xyz="0.600 0 0.081" rpy="0 0.35 0" />
                <geometry>
                    <box size="0.013 0.032 0.14"/>
                </geometry>
            </collision>

           <!-- [GEOMETRIES]: [Battery Lid Lock] - Bottom, Right  -->
           <collision>
             <origin xyz="0.574 0.04 0.01" rpy="0.82 0.35 0" />
                <geometry>
                    <box size="0.013 0.032 0.13"/>
                </geometry>
            </collision>

           <!-- [GEOMETRIES]: [Battery Lid Lock] - Bottom, Left  -->
           <collision>
             <origin xyz="0.574 -0.041 0.01" rpy="-0.82 0.35 0" />
                <geometry>
                    <box size="0.013 0.032 0.13"/>
                </geometry>
            </collision>

            <!-- [GEOMETRIES]: [TTC Controller Plate] - Top  -->
            <collision>
                <origin xyz="0.115 -0.087 0.165" rpy="${7*M_PI/180} 0 0"/>
                <geometry>
                    <box size="0.318 0.197 0.05"/>
                </geometry>
            </collision> 

            <!-- [GEOMETRIES]: [TTC Controller Plate] - Bottom -->
            <collision>
                <origin xyz="0.115 -0.084 0.135" rpy="${7*M_PI/180} 0 0"/>
                <geometry>
                    <box size="0.3415 0.215 0.04"/>
                </geometry>
            </collision>  

            <!-- [GEOMETRIES]: [Gas Sensor] Top Holder -->
            <collision>
                <origin xyz="0.175 -0.141 0.211" rpy="${7*M_PI/180} 0 0"/>
                <geometry>
                    <box size="0.09 0.09 0.04"/>
                </geometry>
            </collision>

             <!-- [GEOMETRIES]: [Gas Sensor] - Sensor Body -->
            <collision>
                <origin xyz="0.13 -0.141 0.211" rpy="${7*M_PI/180} 0 0"/>
                <geometry>
                    <box size="0.18 0.07 0.04"/>
                </geometry>
            </collision>

            <!-- [GEOMETRIES]: [Gas Sensor Holder] - Base -->
            <collision> 
                <origin xyz="0.115 -0.138 0.19" rpy="${7*M_PI/180} 0 0"/>
                <geometry>
                    <box size="0.318 0.07 0.0375"/>
                </geometry>
            </collision>

            <!-- [GEOMETRIES]: [Gas Sensor Holder] - Hatch, Back -->
            <collision>
             <origin xyz="0.02 -0.141 0.205" rpy="0.15 -0.55 -0.08" />
                <geometry>
                    <box size="0.06 0.07 0.02"/>
                </geometry>
            </collision>

             <!-- [GEOMETRIES]: [Gas Sensor Holder] - Hatch, Front -->
            <collision>
             <origin xyz="0.24 -0.141 0.205" rpy="0.15 0.55 0.08" />
                <geometry>
                    <box size="0.06 0.09 0.02"/>
                </geometry>
            </collision>

             <!-- [GEOMETRIES]: [LED Holder Plate] -->
            <collision>
             <origin xyz="0.397 0.165 0.1" rpy="-${7*M_PI/180} 0 0" />
                <geometry>
                    <box size="0.18 0.08 0.015"/>
                </geometry>
            </collision>

             <!-- [GEOMETRIES]: [LED Cylinder] -->
            <collision>
             <origin xyz="0.395 0.165 0.105" rpy="-${7*M_PI/180} 0 0" />
                <geometry>
                    <cylinder length="0.02" radius="0.025"/>
                </geometry>
            </collision>

             <!-- [GEOMETRIES]: [Pressure Sensor] - Cylinder -->
            <collision>
             <origin xyz="0.136 0.16 0.12" rpy="-${7*M_PI/180} 0 0" />
                <geometry>
                    <cylinder length="0.04" radius="0.028"/>
                </geometry>
            </collision>

             <!-- [GEOMETRIES]: [Buttons Hatch] - Top, Left -->
             <collision>
             <origin xyz="0.22 0.145 0.115" rpy="-${7*M_PI/180} 0 0" />
                <geometry>
                    <box size="0.11 0.08 0.035"/>
                </geometry>
            </collision>

             <!-- [GEOMETRIES]: [Emergency Stop Button] - Cylinder -->
            <collision>
             <origin xyz="0.037 0.107 0.13" rpy="-${7*M_PI/180} 0 0" />
                <geometry>
                    <cylinder length="0.055" radius="0.03"/>
                </geometry>
            </collision>

            <!-- [GEOMETRIES]: [Metal Rings] - Cylinder, Left -->
            <collision>
             <origin xyz="0.515 0.17 0.082" rpy="-${M_PI/2} 0 0" />
                <geometry>
                    <cylinder length="0.01" radius="0.02"/>
                </geometry>
            </collision>

            <!-- [GEOMETRIES]: [Metal Rings] - Cylinder, Right -->
            <collision>
             <origin xyz="0.515 -0.17 0.082" rpy="-${M_PI/2} 0 0" />
                <geometry>
                    <cylinder length="0.01" radius="0.02"/>
                </geometry>
            </collision>

            <!-- [GEOMETRIES]: [External Charging Plate] -->
            <collision>
             <origin xyz="0.503 -0.163 0.013" rpy="0 ${M_PI/2} 0" />
                <geometry>
                    <box size="0.086 0.055 0.02"/>
                </geometry>
            </collision>

            <!-- [GEOMETRIES]: [Debug Cable Housing] -->
            <collision>
             <origin xyz="0.545 0.133 0.13" rpy="0 0 0" />
                <geometry>
                    <box size="0.05 0.03 0.04"/>
                </geometry>
            </collision>

            <!-- [GEOMETRIES]: [Arm rest - B] -->
            <collision>
                <origin xyz="0.443 -0.145 0.159" rpy="0 0 0" />
                <geometry>
                    <box size="0.055 0.075 0.128" />
                </geometry>
            </collision>
            
            <!-- [GEOMETRIES]: [Arm rest - B] - Slope -->
            <collision>
                <origin xyz="0.443 -0.085 0.18" rpy="0.65 0 0" />
                <geometry>
                    <box size="0.05 0.01 0.09" />
                </geometry>
            </collision>

            <!-- [GEOMETRIES]: [Arm Rest - B] - Hatch, Top, Right -->
             <collision>
             <origin xyz="0.397 -0.165 0.1" rpy="${7*M_PI/180} 0 0" />
                <geometry>
                    <box size="0.18 0.08 0.015"/>
                </geometry>
            </collision>

            <!-- [GEOMETRIES]: [Arm Rest - A] -->
            <collision>
                <origin xyz="0.12 -0.053 0.202" rpy="${7*M_PI/180} 0 0" />
                <geometry>
                    <box size="0.045 0.072 0.025" />
                </geometry>
            </collision>
            
            <!-- [GEOMETRIES]: [Arm Rest - A] - Bottom plate -->
            <collision>
                <origin xyz="0.12 -0.053 0.202" rpy="${7*M_PI/180} 0 0" />
                <geometry>
                    <box size="0.045 0.072 0.025" />
                </geometry>
            </collision>

            <!-- [GEOMETRIES]: [Arm Rest - A] - Middle horizontal plate -->
            <collision>
                <origin xyz="0.12 -0.053 0.25" rpy="0 0 0" />
                <geometry>
                    <box size="0.04 0.08 0.015" />
                </geometry>
            </collision>

            <!-- [GEOMETRIES]: [Arm Rest - A] - Middle vertical plate -->
            <collision>
                <origin xyz="0.12 -0.053 0.23" rpy="${M_PI/2} 0 0" />
                <geometry>
                    <box size="0.041 0.035 0.015" />
                </geometry>
            </collision>
          
            <!-- [GEOMETRIES]: [Antenna] -->
            <collision>
             <origin xyz="0.175 0.08 0.1" rpy="${M_PI/2} 0 0" />
                <geometry>
                    <box size="0.18 0.145 0.015"/>
                </geometry>
            </collision>
        </link>  

        <!-- [BEGIN] ===  Macro: Tracks === -->
        <xacro:include filename="$(find taurob_robots_description)/urdf/inspector_longarm/tracks.urdf.xacro"/>
        <xacro:inspector_tracks
            track_length="${track_length}" 
            flipper_offset_x="${flipper_offset_x}" 
            flipper_upper_shortening_x="${flipper_upper_shortening_x}" 
            track_wheel_radius="${track_wheel_radius}" 
            track_width="${track_width}"
            track_offset_x="${track_offset_x}" 
            track_offset_y="${track_offset_y}" 
            track_centre_wheel_x="${track_centre_wheel_x}">
            <origin xyz="0 0 0" rpy="0 0 0"/> 
        </xacro:inspector_tracks> 

        <!-- [BEGIN] === Joint: arm_flange_joint === -->
        <joint name="arm_flange_joint" type="fixed">
            <origin xyz="0.401 0.037 0.227" rpy="0 0 0"/>
            <parent link="chassis_link"/>
            <child link="arm_flange_link"/>
        </joint> 

        <!-- [BEGIN] === Link: arm_flange_link === -->
        <link name="arm_flange_link">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <xacro:inertial_cuboid_with_pose mass="0.1" x_length="0.1" y_length="0.1" z_length="0.1">
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            </xacro:inertial_cuboid_with_pose>
        </link>

        <!-- [BEGIN] ===  Transmission section: Needed for ros_control === -->
        <transmission name="flipper_joint_1_joint_transmssion">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="flipper_joint_1">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="flipper_joint_1_motor">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="flipper_joint_joint_transmssion">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="flipper_joint">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="flipper_joint_motor">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

    </xacro:macro>

</robot>
