<?xml version="1.0"?>

<!--
    This file defines macros to model the camera assemblies of the inspector
    robot, the cameras on top of the sensortower and on the sensorhead.
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!--
        Define the links for the cameras in the inspector sensortower.

        Macro parameters:
            * parent_link: The name of the parent link of the added tf links. It's
                assumed that this link looks "forward", i.e. the "front" camera will
                be offset out in the X direction of the parent link's coordinate system.
            * camera_offset: The offset (in meter) of a single camera outwards
                from the center point.
            * {front/left/back/right}_rotation: Rotation of the optical camera
                link for the respective camera. This rotation is applied on the X axis
                of the parent link (non-"optical", "camera_sensortower_..._link"), i.e.
                when looking at the camera from the outside of the sensortower.
            * origin: Origin of the centerpoint between the cameras in relation
                to the "parent_link".
    -->
    <xacro:macro
        name="sensortower_camera_assembly"
        params="parent_link camera_offset:=0.045 front_rotation left_rotation back_rotation right_rotation *origin">

        <!-- A link in the center of the cameras. -->
        <link name="sensortower_camera_assembly_center_link"/>
        <joint name="sensortower_camera_assembly_center_joint" type="fixed">
            <parent link="${parent_link}"/>
            <child link="sensortower_camera_assembly_center_link"/>
            <xacro:insert_block name="origin"/>
        </joint>

        <!-- Four links for the cameras with "X" pointing outwards. -->
        <link name="camera_sensortower_front_link"/>
        <joint name="camera_sensortower_front_joint" type="fixed">
            <parent link="sensortower_camera_assembly_center_link"/>
            <child link="camera_sensortower_front_link"/>
            <origin xyz="${camera_offset} 0 0" rpy="0 0 0"/>
        </joint>

        <link name="camera_sensortower_left_link"/>
        <joint name="camera_sensortower_left_joint" type="fixed">
            <parent link="sensortower_camera_assembly_center_link"/>
            <child link="camera_sensortower_left_link"/>
            <origin xyz="0 ${camera_offset} 0" rpy="0 0 ${M_PI / 2.}"/>
        </joint>

        <link name="camera_sensortower_back_link"/>
        <joint name="camera_sensortower_back_joint" type="fixed">
            <parent link="sensortower_camera_assembly_center_link"/>
            <child link="camera_sensortower_back_link"/>
            <origin xyz="-${camera_offset} 0 0" rpy="0 0 ${M_PI}"/>
        </joint>

        <link name="camera_sensortower_right_link"/>
        <joint name="camera_sensortower_right_joint" type="fixed">
            <parent link="sensortower_camera_assembly_center_link"/>
            <child link="camera_sensortower_right_link"/>
            <origin xyz="0 -${camera_offset} 0" rpy="0 0 ${3.0 * M_PI / 2.0}"/>
        </joint>

        <!-- The "optical" links for the cameras, according to REP103.  -->
        <link name="camera_sensortower_front_optical"/>
        <joint name="camera_sensortower_front_optical_joint" type="fixed">
            <parent link="camera_sensortower_front_link"/>
            <child link="camera_sensortower_front_optical"/>
            <origin xyz="0 0 0" rpy="${-M_PI / 2.0} ${front_rotation} ${-M_PI / 2.0}"/>
        </joint>

        <link name="camera_sensortower_left_optical"/>
        <joint name="camera_sensortower_left_optical_joint" type="fixed">
            <parent link="camera_sensortower_left_link"/>
            <child link="camera_sensortower_left_optical"/>
            <origin xyz="0 0 0" rpy="${-M_PI / 2.0} ${left_rotation} ${-M_PI / 2.0}"/>
        </joint>

        <link name="camera_sensortower_back_optical"/>
        <joint name="camera_sensortower_back_optical_joint" type="fixed">
            <parent link="camera_sensortower_back_link"/>
            <child link="camera_sensortower_back_optical"/>
            <origin xyz="0 0 0" rpy="${-M_PI / 2.0} ${back_rotation} ${-M_PI / 2.0}"/>
        </joint>

        <link name="camera_sensortower_right_optical"/>
        <joint name="camera_sensortower_right_optical_joint" type="fixed">
            <parent link="camera_sensortower_right_link"/>
            <child link="camera_sensortower_right_optical"/>
            <origin xyz="0 0 0" rpy="${-M_PI / 2.0} ${right_rotation} ${-M_PI / 2.0}"/>
        </joint>
    </xacro:macro>

    <!--
        Define the links for the cameras in the inspector sensorhead.

        Macro parameters:
            * parent_link: The name of the parent link of the added tf links.
            * {rgb/thermal}_rotation: Rotation of the optical camera link
                 for the respective camera.
            * origin: Origin of the centerpoint between the cameras in relation
                to the "parent_link".
    -->
    <xacro:macro
        name="sensorhead_camera_assembly"
        params="parent_link rgb_rotation thermal_rotation *origin">

        <!-- A link in the center of the sensorhead. -->
        <link name="sensorhead_camera_assembly_center_link"/>
        <joint name="sensorhead_camera_assembly_center_joint" type="fixed">
            <parent link="${parent_link}"/>
            <child link="sensorhead_camera_assembly_center_link"/>
            <xacro:insert_block name="origin"/>
        </joint>

        <!-- The links for mounting points of the cameras. -->
        <link name="camera_sensorhead_rgb_link"/>
        <joint name="camera_sensorhead_rgb_joint" type="fixed">
            <parent link="sensorhead_camera_assembly_center_link"/>
            <child link="camera_sensorhead_rgb_link"/>
            <origin xyz="0 0 0.05" rpy="0 0 0"/>
        </joint>

        <link name="camera_sensorhead_thermal_link"/>
        <joint name="camera_sensorhead_thermal_joint" type="fixed">
            <parent link="sensorhead_camera_assembly_center_link"/>
            <child link="camera_sensorhead_thermal_link"/>
            <origin xyz="0 0 -0.02" rpy="0 0 0"/>
        </joint>
        
        <!-- The "optical" links for the cameras, according to REP103.  -->
        <link name="camera_sensorhead_rgb_optical"/>
        <joint name="camera_sensorhead_rgb_optical_joint" type="fixed">
            <parent link="camera_sensorhead_rgb_link"/>
            <child link="camera_sensorhead_rgb_optical"/>
            <origin xyz="0 0 0" rpy="${-M_PI / 2.0} ${rgb_rotation} ${-M_PI / 2.0}"/>
        </joint>

        <link name="camera_sensorhead_thermal_optical"/>
        <joint name="camera_sensorhead_thermal_optical_joint" type="fixed">
            <parent link="camera_sensorhead_thermal_link"/>
            <child link="camera_sensorhead_thermal_optical"/>
            <origin xyz="0 0 0" rpy="${-M_PI / 2.0} ${thermal_rotation} ${-M_PI / 2.0}"/>
        </joint>
    </xacro:macro>
</robot>
